<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <appSettings>
      <add key="PokerCards" value="2"/>
      <add key="MinAmountOfPlayers" value="2"/>
      <add key="MaxAmountOfPlayers" value="6"/>
      <add key="MinAmountOfRounds" value="2"/>
      <add key="MaxAmountOfRounds" value="5"/>
    </appSettings>  
</configuration>
